<mat-expansion-panel>
    <mat-expansion-panel-header>
        {{post.autore}}
    </mat-expansion-panel-header>
    <p>{{post.testo}}</p>
    <hr>
    <h3>Commenti</h3>
    <mat-card style="padding: 15px; margin: auto; width: 40%;">
        <form>
            <mat-form-field>
                <input
                 matInput
                 type="text"
                 name="autore"
                 #autore
                 required
                 minlength="3"
                 placeholder="Autore Commento">
                 <mat-error *ngIf="autore.invalid">Inserire autore (min. 3 lettere)</mat-error>
            </mat-form-field>
            <mat-form-field>
                <textarea
                 matInput
                 rows="6"
                 name="testo"
                 #testo
                 ngModel
                 #postInput
                 required
                 placeholder="Contenuto Commento"></textarea>
                <mat-error *ngIf="testo.invalid">Inserire contenuto</mat-error>
            </mat-form-field>
            <button
             mat-raised-button
             color="warn"
             (click)="post.addCommento(autore.value, testo.value)">Save Post</button>
        </form>
    </mat-card>
    <mat-card style="margin-top: 10px;" *ngFor="let c of post.commenti">
        <p>{{c.autore}}</p>
        <p>{{c.testo}}</p>
    </mat-card>
    <mat-action-row>
        <button (click)="post.addLike()" mat-button color="primary">{{post.like}} Like</button>
        <button (click)="post.addDislike()" mat-button color="warn">{{post.dislike}} Dislike</button>
    </mat-action-row>
</mat-expansion-panel>